/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

.btn {
  @apply py-2 px-4 rounded;
}

.btn:focus {
  @apply outline-none;
}

.btn-primary {
  @apply btn text-white bg-orange-700;
}

.input-select {
  @apply block appearance-none bg-white border border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight;
}

.input-select:focus {
  @apply outline-none shadow-outline;
}

.input-select:hover {
  @apply border-gray-500;
}

.slow-hidden {
  @apply hidden;
  transition: all 2000ms ease-in-out;
}

@tailwind utilities;

/* Custom css here */
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Merriweather&display=swap');

body {
  font-family: 'Merriweather', sans-serif;
}

.bungee-inline {
  font-family: 'Bungee Inline', cursive;
}
